      {% extends 'layouts/base.html' %}
      {% load static %}
      {% block content %}
      <div class="content">
          <h2 class="card-title">{{odoo}}</h2>
          <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="">
                        <h3 class="card-title">Analyse des ventes et des opérations :</h3>
                        </div>
                    </div>
                </div>
            </div>

    

    
        </div>
          <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <div class="">
                        <h3 class="card-title">{{chiffreaffaire}} DTN</h3>
                        <span>Chiffre d'affaire</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                <div class="card-body">
                    <div class="">
                    <h3 class="card-title">{{average_sales_per_invoice}} TDN</h3>
                    <span> Ventes moyennes par facture </span>
                    </div>
                </div>
                </div>
    
            </div>
    
            <div class="col-4">
                <div class="card">
                <div class="card-body">
                    <div class="">
                        <h3 class="card-title">{{nombreClient}} clients</h3>
                        <span>Nombre des clients</span>
                        </div>
                </div>
                </div>
    
            </div>
    
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="">
                        <h3 class="card-title">Etat des factures et devis :</h3>
                        </div>
                    </div>
                </div>
            </div>

    

    
        </div>
          <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <div class="">
                        <h3 class="card-title">{{alldevis}} devis</h3>
                        <span>tous les devis</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                <div class="card-body">
                    <div class="">
                    <h3 class="card-title">{{sent_devis}} devis</h3>
                    <span> devis envoyés </span>
                    </div>
                </div>
                </div>
    
            </div>
    
            <div class="col-4">
                <div class="card">
                <div class="card-body">
                    <div class="">
                        <h3 class="card-title">{{sale_orders}} commandes</h3>
                        <span>ordres de vente</span>
                        </div>
                </div>
                </div>
    
            </div>
    
        </div>
        <div class="row">
          <div class="col-4">
              <div class="card">
                  <div class="card-body">
                      <div class="">
                      <h3 class="card-title">{{done_saleorders}} commandes </h3>
                      <span>commandes de vente effectuées </span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-4">
              <div class="card">
              <div class="card-body">
                  <div class="">
                  <h3 class="card-title">{{cancelled_sale_orders}} commandes</h3>
                  <span>commandes de vente annulées </span>
                  </div>
              </div>
              </div>
    
          </div>
    
          <div class="col-4">
              <div class="card">
              <div class="card-body">
                  <div class="">
                      <h3 class="card-title">{{sale_orders_with_invoice}} commandes</h3>
                      <span>commandes de vente facturées</span>
                      </div>
              </div>
              </div>
    
          </div>
    
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card">
                <div class="card-body">
                    <div class="">
                        <h3 class="card-title">{{sale_orders_to_invoiced}} commandes</h3>
                        <span>commandes de vente à facturées</span>
                        </div>
                </div>
                </div>
      
            </div>
            <div class="col-4">
                <div class="card">
                <div class="card-body">
                    <div class="">
                        <h3 class="card-title">{{sale_orders_to_invoiced}} DTN</h3>
                        <span>commandes de vente à facturées</span>
                        </div>
                </div>
                </div>
      
            </div>
      
        </div>
      
          <div class="row">
              <div class="col-12">
                  <div class="card card-chart">
                      <div class="card-header ">
                          <div class="row">
                              <div class="col-sm-6 text-left">
                                  <h2 class="card-title">Nombre de factures : </h2>
                              </div>
                              <div class="col-sm-6">
                                  <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                                      <label class="btn btn-sm btn-primary btn-simple active" id="0">
                                          <input type="radio" name="options" checked>
                                          <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Par mois</span>
                                          <span class="d-block d-sm-none">
                                              <i class="tim-icons icon-single-02"></i>
                                          </span>
                                      </label>
                                      <label class="btn btn-sm btn-primary btn-simple" id="1">
                                          <input type="radio" class="d-none d-sm-none" name="options">
                                          <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Par semestre</span>
                                          <span class="d-block d-sm-none">
                                              <i class="tim-icons icon-gift-2"></i>
                                          </span>
                                      </label>
                                      <label class="btn btn-sm btn-primary btn-simple" id="2">
                                          <input type="radio" class="d-none" name="options">
                                          <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Par année</span>
                                          <span class="d-block d-sm-none">
                                              <i class="tim-icons icon-tap-02"></i>
                                          </span>
                                      </label>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="card-body">
                          <div class="chart-area">
                              <canvas id="nb_factures"></canvas>
                          </div>
                      </div>
      
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-12">
                <div class="card card-chart">
                    <div class="card-header ">
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                <h2 class="card-title">Vente par client: </h2>
                            </div>

                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="ca_client"></canvas>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card card-chart">
                    <div class="card-header ">
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                <h2 class="card-title">Nombre de transaction par client :</h2>
                            </div>

                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="NB_fac_par_client"></canvas>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-chart">
                    <div class="card-header">
                        <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>Top 10 Clients générant le plus revenue:</h3>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="TOP_revenue_par_client"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-chart">
                    <div class="card-header">
                        <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i>Top 10 Clients générant le moins revenue:</h3>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="MOIN_revenue_par_client"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-chart">
                    <div class="card-header">
                        <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>Statut CRM : </h3>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="crm_statut"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-chart">
                    <div class="card-header">
                        <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i> Statut des commandes :</h3>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="command_statut"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="">
                        <h3 class="card-title">Taux de fidélisation globale des clients   : </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <div class="">
                        <h3 class="card-title">{{rt_mois}} % </h3>
                        <span>Fidélisation globale par mois</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                <div class="card-body">
                    <div class="">
                    <h3 class="card-title">{{rt_semestre}} %</h3>
                    <span>Fidélisation globale par semestre</span>
                    </div>
                </div>
                </div>
      
            </div>
      
            <div class="col-4">
                <div class="card">
                <div class="card-body">
                    <div class="">
                        <h3 class="card-title">{{rt_annee }} %</h3>
                        <span>Fidélisation globale par année</span>
                        </div>
                </div>
                </div>
      
            </div>
          </div>  
          <div class="row">
            <div class="col-12">
                <div class="card card-chart">
                    <div class="card-header ">
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                <h2 class="card-title">Evolution du Taux de fidélisation des clients : </h2>
                            </div>
                            <div class="col-sm-6">
                                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                                    <label class="btn btn-sm btn-primary btn-simple active" id="0">
                                        <input type="radio" name="options" checked>
                                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Par mois</span>
                                        <span class="d-block d-sm-none">
                                            <i class="tim-icons icon-single-02"></i>
                                        </span>
                                    </label>
                                    <label class="btn btn-sm btn-primary btn-simple" id="1">
                                        <input type="radio" class="d-none d-sm-none" name="options">
                                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Par semestre</span>
                                        <span class="d-block d-sm-none">
                                            <i class="tim-icons icon-gift-2"></i>
                                        </span>
                                    </label>
                                    <label class="btn btn-sm btn-primary btn-simple" id="2">
                                        <input type="radio" class="d-none" name="options">
                                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Par année</span>
                                        <span class="d-block d-sm-none">
                                            <i class="tim-icons icon-tap-02"></i>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="retention_MOIS"></canvas>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>    

      </div>
      {% include 'includes/scriptsfacture.html' %}
      {% endblock content %}

