<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'includes/head.html' %}
</head>

<body class="">
    <div class="container-fluid">
                <div class="row pt-5">
                    <div class="col-md-6 mt-5 offset-md-3 pt-5 mt-5">
                        <div class="card">
                            <div class="card-header text-center py-4">
                                <h4 class="title ">SignUp to CT ADMIN</h4>
                            </div>
                            <div class="card-body px-5 py-3">
                                <form method="post">
                                    <div class="row">
                                        {% csrf_token %}
                                        {% for field in form %}
                                        <div class="col-md-12 px-md-1">
                                            <div class="form-group">
                                                <label>
                                                    {{field.label}} :
                                                </label>
                                                {{field}}
                                            </div>
                                            <span class="form_error">{{ field.errors }}</span>
                                        </div>
							            {% endfor %}
                                        <button type="submit" class="btn btn-fill btn-primary">Register</button>
                                        <span style="margin: 12px !important;">
                                            Or <a href="{% url 'auth_signin' %}">Sign in</a>
                                        </span>                                        
                                    </div>
                                </form>
                            </div>
                </div>
            </div>

        </div>
        <footer class="footer px-5 py-4">
            <div class="copyright mx-auto float-none text-center">
                ©
                <script>
                    document.write(new Date().getFullYear())
                </script>
                made with <i class="tim-icons icon-heart-2"></i>
            </div>
        </footer>
    </div>
</div>

{% include 'includes/fixed-plugin.html' %}
</body>

</html>