{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

                <div class="row pt-5">
                    <div class="col-md-6 mt-5 offset-md-3 pt-5 mt-5">
                        <div class="card">
							<div class="row align-items-center text-center">
								<div class="col-md-12">
									<div class="card-body">
										<h4 class="title ">CT ADMIN</h4>	
							  <p class="login-box-msg">Your password has been changed successfully.</p>
							  <a href="/">Go to dashboard</a>
									</div>
								</div>
							</div>
						</div>
                    </div>

                </div>
            </div>

        </div>
        <footer class="footer px-5 py-4 fixed-bottom">
            <div class="copyright mx-auto float-none text-center">
                ©
                <script>
                    document.write(new Date().getFullYear())
                </script>
                made with <i class="tim-icons icon-heart-2"></i>
            </div>
        </footer>
    </div>
</div>

{% include 'includes/fixed-plugin.html' %}
{% endblock content %}