{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

                <div class="row pt-5">
                    <div class="col-md-6 mt-5 offset-md-3 pt-5 mt-5">
                      <div class="card">
                        <div class="row align-items-center">
                          <div class="col-md-12">
                            <div class="card-body">
                              <h4 class="title  text-center">CT ADMIN</h4>
                              <p class="login-box-msg  text-center">You are only one step a way from your new password, change your password now.</p>
                              <form method="post">
                                {% csrf_token %}
                                {% for field in form %}
                                <div class="form-group">
                                  <label>
                                    {{field.label}} :
                                </label>
                                {{field}}
                                </div>
                                {% endfor %}
                                <div class="row">
                                  <div class="col-12">
                                    <button type="submit" class="btn btn-primary btn-block">Change password</button>
                                  </div>
                                  <!-- /.col -->
                                </div>
                              </form>
                              <p class="mt-3 mb-1  text-center">
                                <a href="/">Cancel</a>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
        <footer class="footer px-5 py-4 fixed-bottom">
            <div class="copyright mx-auto float-none text-center">
                ©
                <script>
                    document.write(new Date().getFullYear())
                </script>
                made with <i class="tim-icons icon-heart-2"></i>
            </div>
        </footer>
    </div>
</div>

{% include 'includes/fixed-plugin.html' %}
{% endblock content %}

