{% load static %}
<!--   Core JS Files   -->
<script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/core/popper.min.js' %}"></script>
<script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
<!--  Google Maps Plugin    -->
<!-- Chart JS -->
<script src="{% static 'assets/js/plugins/chartjs.min.js' %}"></script>
<!--  Notifications Plugin    -->
<script src="{% static 'assets/js/plugins/bootstrap-notify.js' %}"></script>
<!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{% static 'assets/js/black-dashboard.min.js' %}?v=1.0.0"></script>
<!-- Black Dashboard DEMO methods, don't include it in your project! -->
<script src="{% static 'assets/demo/demo.js' %}"></script>
<script src="{% static 'assets/js/themeSettings.js' %}"></script>

<script>

        var month_names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];


        demo.drawX({{ca_mois.data|safe}}, month_names ,'{{ca_mois.id}}','{{ca_mois.type}}' , {{ca_quarter.data|safe}},  
        {{ca_year.data|safe}} ,{{ca_quarter.labels|safe}},  {{ca_year.labels|safe}});

        //----------------------------------------------------------------
        demo.DrawChart({{employe_performance.data|safe}},{{employe_performance.labels|safe}},'{{employe_performance.id}}','{{employe_performance.type}}');
        demo.DrawChart({{employe_par_dep.data|safe}},{{employe_par_dep.labels|safe}},'{{employe_par_dep.id}}','{{employe_par_dep.type}}');
        demo.DrawChart({{jobs_distribution.data|safe}},{{jobs_distribution.labels|safe}},'{{jobs_distribution.id}}','{{jobs_distribution.type}}');
        demo.DrawChart({{revenu_departement.data|safe}},{{revenu_departement.labels|safe}},'{{revenu_departement.id}}','{{revenu_departement.type}}');
        demo.DrawChart({{plus_marge_brutes.data|safe}},{{plus_marge_brutes.labels|safe}},'{{plus_marge_brutes.id}}','{{plus_marge_brutes.type}}');
        demo.DrawChart({{moins_marge_brutes.data|safe}},{{moins_marge_brutes.labels|safe}},'{{moins_marge_brutes.id}}','{{moins_marge_brutes.type}}');
        

</script>


<script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
<script>
    window.TrackJS &&
        TrackJS.install({
            token: "ee6fab19c5a04ac1a32a645abde4613a",
            application: "black-dashboard-free"
        });


</script>